@import 'vars';
@import 'typography';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: 0;
  margin: 0;
}

.section {

  /* removes margin collapse on sections */
  & {
    display: inline-block;
    width: 100%;
  }
  /* added padding that was removed from body */
  & {
    padding: $half-space;
  }
  
}