<!-- Header Background -->
<div id="navbar-bg" class="transparent"></div>

<!-- Nav Bar -->
<div id="navbar">
	<div class="fluid-container">
  	
  	<!-- Logo -->
  	<div class="logo">
    	<a ui-sref="Site.Home" id="logo" class="has-logo" title="Home">
      	<img ng-src="images/acj-logo-s.svg" alt="Adam Cole Jenkins" class="logo-image">
      </a>
    </div><!--/ .logo -->
    
    <!-- Menu Controls -->
    <div class="controls">
      <a class="open-nav">
        <span class="nav-icon"></span>
      </a>
    </div><!--/ .controls -->
  	
	</div>
</div>